[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.4.4"
coverage = "*"
aioresponses = "==0.4.2"
coveralls = "*"
python-dateutil = "==2.7.3"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
